<h1 class="list-name"><%= @influencer_list.name %></h1>

<%= link_to "Rename List", edit_influencer_list_path(@influencer_list) %>
<%= button_to "Delete List", @influencer_list, method: :delete %>

<ul>
  <% @influencer_list.users.each do |user| %>
    <li><%= link_to user.name, profile_path(user) %></li>
  <% end %>
</ul>
