= render "layouts/list_nav_bar"
.list-users
  - if @influencer_list.profiles.any?
    .profile-cards
      .row
        -@influencer_list.profiles.each do |profile|
          .col-lg-4.col-md-4.col-sm-5.col-xs-12
            = render 'shared/profile_cards/show', profile: profile
            .text-center{ class: "test-remove-user-#{profile.id}"}
              - if current_user.can_manage_list?(@influencer_list)
                = link_to "Remove", list_membership_path(profile.list_membership_in(@influencer_list)), method: :delete, class: "btn btn-default"
  - else
    .row
      .col-md-6.col-md-offset-3
        %h3 Your list is empty.
        %hr/
        %h1
          %span.glyphicon.glyphicon-search.pink.pull-left.icons{"aria-hidden" => "true"}
        %h4.pull-left 1. Search for your next team.
        .clearfix
        %h1
          %span.glyphicon.glyphicon-list.pink.pull-left.icons{"aria-hidden" => "true"}
        %h4.pull-left 2. Add users to your list.

