<li>
  <div class="nested-fields new-client">
      <div class="col-md-10">
      <%= f.input :name, validate: false, label: false, placeholder: "Name", input_html: { class: 'flat-form-control client-input' }  %>
      <%= f.input :url, validate: false, label: false, placeholder: "URL", input_html: { class: 'flat-form-control client-input' } %>
      </div>
      <div class="col-md-1 remove-client">
      <%= link_to_remove_association  f do %>
        <span class="glyphicon glyphicon-remove-circle">
      <% end %>
      </div>
  </div>
</li>