<div class="nested-fields new-client">
   <div class="col-md-10">
    <%= f.input :name, validate: false, input_html: { class: 'form-control client-input' }  %>
    <%= f.input :url, validate: false, input_html: { class: 'form-control client-input' } %>
   </div>
   <div class="col-md-2 remove-client">
    <%= link_to_remove_association "X", f %>
   </div>
   <div class="clearfix"></div>
</div>