<% if @user.send("#{social}_follower_count") %>
  <ul class="user-social-follower-counts">
    <li class="user-social-follower-count col-md-1">
      <%= image_tag("#{social}_logo_sq.svg", class: 'user-social-icon', alt: "#{social} Logo") %>
      <%= number_with_delimiter(@user.send("#{social}_follower_count")) %>
    </li>
  </ul>
<% end %>
