<div class="container creators">
  <div class="row">
    <div class="center-block">
      <h2>Earn Money Doing What You Love.</h2>
      <h3>We have worked with with over 150 of the world’s leading brands and agencies across the world creating content for social media, TV, online and out of home advertising.</h3>
      <h4>We are always on the look out for new talent to work with on campaigns - whether you are a social media influencers , model, stylist, make up artist, actor, dancer, illustrator, designer, editor, director or photographer, or otherwise, we want to collaborate with you on creating engaging and entertaing content for top brands.</h4>

      <h4>Having worked on over 500 creatives and influencers creating and sharing content across the web and on tv, on over 200 campaigns, we know what it’s like to be a content creator and social media influencer.</h4>

      <h4>We work hard, so you can focus on what you do best. At the end of the day, we got your back - ensuring you get paid and the projects you work on are ones you are excited about and fit your style, audience, interests and skill set. </h4>

      <div class="text-center">
        <iframe src="https://player.vimeo.com/video/125092515?loop=1&title=0&byline=0&portrait=0" width="450" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/125089661?loop=1&title=0&byline=0&portrait=0" width="450" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <h3>Do You Have a Large Social Media Following?</h3>
      <h4>Join our creators network today. We are looking for social media content creators across a variety of interests - Fashion, Comedy, Celebrity, Family, Fashion, Beauty, Art + Design, Food, and Travel.</h4>
    </div>
  </div>
</div>

