<div class="container creators">
  <div class="row">
    <div class="center-block text-center">
      <h2>Earn Money Doing What You Love.</h2>
      <h3>WE WORK WITH WITH OVER 150 OF THE WORld’S LEADING BRANDS AND AGENCIES ACROSS THE WORLD.</h3>
      <h4>We know what it's like to be a social media influencer, because we are influencers ourselves. We work hard, so you can focus on what you do best - making great content. At the end of the day, we got your back ensuring you get paid and the branded content you create fits your style and voice.</h4>

      <div class="text-center">
          <%= image_tag("ge_image.png", :class => "creator-img", :alt => "Meagan Cignoli") %>
          <%= image_tag("ge_image.png", :class => "creator-img", :alt => "Meagan Cignoli") %>
      </div>

      <h3>Do You Have a Large Social Media Following?</h3>
      <h4>Join our creators network today. We are looking for social media content creators across a variety of interests - Fashion, Comedy, Celebrity, Family, Fashion, Beauty, Art + Design, Food, and Travel.</h4>
    </div>
  </div>
</div>

