<div class="container creators brands-creators-marketing_page">
  <div class="row">
    <div class="center-block">
      <h2>Earn Money Doing What You Love.</h2>
      <h4>We have worked with with over 150 of the world’s leading brands and agencies across the world creating content for social media, TV, mobile and digital advertising.</h4>
      <p>We are always on the look out for new talent to work with on campaigns - whether you are a social media influencer , model, stylist, make up artist, actor, dancer, illustrator, designer, editor, director or photographer, or otherwise, we want to collaborate with you on creating great content for top brands.</p>

      <p>We work hard, so you can focus on what you do best. At the end of the day, we got your back - ensuring you get paid and the projects you work on are ones you are excited about.</p>
    </div>
  </div>
  <div class="work-examples-container text-center">
    <div class="row">
      <div class="col-md-6">
        <iframe src="https://player.vimeo.com/video/125092515?loop=1&title=0&byline=0&portrait=0" width="450" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe src="https://player.vimeo.com/video/125092669?loop=1&title=0&byline=0&portrait=0" width="450" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <h3>Do You Have a Large Social Media Following?</h3>
  <h4>Join our creators network today. We are looking for social media content creators across a variety of interests - Fashion, Comedy, Celebrity, Family, Fashion, Beauty, Art + Design, Food, and Travel.</h4>
</div>

