<h2>Earn monEy doing what you lovE.</h2>
<h3>We WORK WITH WITH OveR 150 Of THe WORld’s leadIng bRands and agencIes acROss THe WORld.</h3>
<p>We know what it’ s like to be a social media influencer, because we are influencers our- selves. We work hard, so you can focus on what you do best - making great content. At the end of the day, we got your back - ensuring you get paid and the branded content you create fits your style and voice.</p>

<%= image_tag("ge_image.png", :size => '424', :alt => "Meagan Cignoli") %>
<%= image_tag("ge_image.png", :size => '424', :alt => "Meagan Cignoli") %>
<h3>Do You Have a Large Social Media Following?</h3>
<p>Join our creators network today. We are looking for social media content creators across a variety of interests - Fashion, Comedy, Celebrity, Family, Fashion, Beauty, Art + Design, Food, and Travel.</p>
