<div class="carousel">
  <div class="carousel__main owl-carousel">
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/126132551?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/125093720?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/125092517?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/125719633?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>    </div>
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/125090480?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/125085018?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
      <iframe src="https://player.vimeo.com/video/125092669?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="carousel__navigation">
    <a class="btn carousel__navigation__prev">
      <span class="glyphicon glyphicon-chevron-left">
    </a>
    <a class="btn carousel__navigation__next">
      <span class="glyphicon glyphicon-chevron-right">
    </a>
  </div>
</div>
