<div class="container about">
  <h2>About Us</h2>
  <p class="pink-link">Visual Country, is an award winning digital agency founded by Director Meagan Cignoli, specializing in mobile and social video production and distribution. You can see more of our work here: <%= link_to "Ilovemeagan.com", "http://ilovemeagan.com", :target => "_blank"%></p>

  <p>We built the Visual Country platform, to provide a home to the over 500 leading social media influencers, models, dancers, stylists, make up artists, hair stylist, editors, designers, illustrators, directors and actors we have collaborated with on over 200 social campaigns in the last two years.</p>

  <p>We do the heavy lifting for brands when it comes to working with top notch social and digital media talent. For each campaign, brands/agencies are paired with a dedicated account manager to bring their campaign from ideation, to production to launch.</p>

  <p>Having worked with over 150 major brands creating short videos for social media, we are experts in the industry and help advise on best practices when it comes to marketing on social and mobile.</p>
</div>