<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <h1>
         CREATING &amp; DISTRIBUTING
         SHORT VIDEOS FOR THE
         WORLD’S LEADING BRANDS
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="center-block text-center">
        <%= image_tag("visualcountry_logo.png", :class => "welcome_logo", :alt => "Visual Country") %>
        <h5>Welcome, come on inside.</h5>
      </div>
    </div>

    <div class="row">
      <div class="center-block text-center">
        <%= link_to 'Content Creators', content_creators_path, :class => "btn btn-welcome" %>
        <%= link_to 'Brands / Agencies', brands_agencies_path, :class => "btn btn-welcome" %>
      </div>
    </div>

    <div class="row">
      <div class="email">
        Contact us: <%= mail_to "info@visualcountry.com", "info[at]visualcountry.com"%>
      </div>
    </div>
  </div>
</div>