<div class="container">
  <div class="container welcome">    
        <h1>CREATING & DISTRIBUTING SHORT VIDEOS FOR THE WORLD’S LEADING BRANDS</h1>
        
        <img class="welcome_logo" alt="Visual Country" src="/assets/visualcountry_logo.png" />
        
        <h5>Welcome, come on inside.</h5>

        <button type="button" class="btn btn-default home-page-button"><%= link_to 'Content Creators', content_creators_path %></button>
        
        <button type="button" class="btn btn-default home-page-button"><%= link_to 'Brands / Agencies', brands_agencies_path %></button>

  </div>
</div>

<div>
image roll
</div>  

<div class="container">
  <div class="col-md-4 col-md-offset-4">    
    <p>Contact us: info@visualcountry.com</p>
  </div> 
</div>   

<%= link_to 'edit', edit_user_registration_path %>