<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="text-center">
        <h1 class="pink">
         CREATE &amp; CONNECT
        </h1>
        <h4 class="tag-line">Welcome to Visual Country. We are a community of creative and social media talent, creating the most engaging videos for the world's leading brands.</h4>
      </div>
    </div>

    <div class="row">
      <div class="marketing-links text-center">
        <%= link_to 'Content Creators', content_creators_path, :class => "btn btn-welcome" %>
        <%= link_to 'Brands / Agencies', brands_agencies_path, :class => "btn btn-welcome" %>
      </div>
    </div>
  </div>
</div>
<div class="row welcome">
 <div class="work text-center">
    <iframe src="https://player.vimeo.com/video/126644871" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125714678" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125086259" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125093412?loop=1&title=0&byline=0&portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125089661?loop=1&title=0&byline=0&portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/126132551?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125093720?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125092517?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125089472?loop=1&title=0&byline=0&portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125719633?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125090480?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125085018?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125092669?loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/125958573?loop=1&title=0&byline=0&portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="email">
        <h4>Contact us: <%= mail_to "info@visualcountry.com", "info[at]visualcountry.com"%></h4>
      </div>
    </div>
  </div>
</div>
