<div class="container team">
  <h2>Team</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <p><%= image_tag("meagancignoli.jpg", height: '300', width: '300') %></p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
      <h3>Meagan Cignoli</h3>
      <h5>Partner, Creative Director</h5>
      <p>Meagan Cignoli is a Cannes Lion award winning director and photographer. Cignoli was named Digital Entrepreneur of the Year by the Hubbies (2014).</p>
      <p>Meagan Cignoli had a long and successful career as a photographer, and started creating videos on Vine at it’s infancy and quickly amassed a highly engaged and dedicated following. Cignoli’s personal Vine work quickly attracted the attention of house-hold brands and agencies, and together with her team of creatives has produced over 200 Vine, Instagram and high res video campaigns.</p>

      <p>Cignoli was also recently featured in Time Magazine, Wired magazine and in the PBS documentary, Frame by Frame, as an expert in stop motion.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <p><%= image_tag("amberleesquare.jpg", height: '300', width: '300') %></p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
      <h3>Amber Lee</h3>
      <h5>Partner, Director of Operations</h5>
      <p>Amber Lee has an extensive history driving strategy and growth for startups within tech and advertising.</p>

      <p>Prior to joining Meagan Cignoli, Amber launched eBay’s same day delivery service, eBay Now, on the east coast, managing operations and strategy for the service.</p>

      <p>Lee previously founded the website Join Bklyn, and Creative Agency Bklyn Haus and held various management positions at Tremor Video, Oddcast, and InBev since graduating in 2007 from the Richard Ivey School of Business in Canada.</p>
    </div>
  </div>
</div>

