.about {
  p {
    font-size: 16px;
  }

  strong {
    font-family: AkkBd_Pro;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  h3{
    font-size: 24px;
  }

  h4 {
    font-size: 12px;
  }
}