.social-auth-buttons {
  @include padding(2em 4em null 4em);
  margin-bottom: 4em;

  @media (min-width: $md-breakpoint) {
    padding-top: 8em;
  }
}

.social-auth-button {
  @include margin(null auto null auto);
  color: #fff;
  display: block;
  padding: 1em;
  text-align: right;
  position: relative;

  &:hover,
  &:focus {
    color: #fff;
  }

  &:active {
    top: 1px;
  }

  @media (min-width: $md-breakpoint) {
    width: 280px;
  }

  span {
    display: inline-block;
    line-height: 2em;
  }

  svg {
    float: left;
    height: 2em;
    width: 2em;

    path {
      fill: currentColor;
    }
  }
}

.social-auth-button-facebook {
  background-color: $facebook-blue;
  margin-bottom: 1em;

  &:hover,
  &:focus {
    background-color: darken($facebook-blue, 3%);
  }
}

.social-auth-button-twitter {
  background-color: $twitter-blue;

  &:hover,
  &:focus {
    background-color: darken($twitter-blue, 2%);
  }
}

.sign-up-form {
  margin-top: 2em;

  @media (min-width: $md-breakpoint) {
    margin-top: 4em;
  }
}

.sign-up-form-fields {
  @include padding(null 4em null 4em);
  margin-bottom: 4em;

  @media (min-width: $md-breakpoint) {
    border-left: $base-border;
  }
}

.sign-up-button {
  @include margin(null auto null auto);
  display: block;
}
