.basic-info-focus {
  height: 164px;
}

.basic-info-bio,
.basic-info-photo {
  // 3 columns minus gutters, makes it square
  height: (750px / 3) - 30px;

  @media (min-width: $md-breakpoint) {
    height: (970px / 3) - 30px;
  }
}

.basic-info-photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $md-breakpoint) {
    margin-bottom: 4em;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.8;
  }

  svg {
    @include size(140px, 140px);
    display: block;
    margin-bottom: 1em;
  }

  input[type="file"] {
    @include position(absolute, 0 0 0 0);
    cursor: pointer;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
}
