@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
       url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
       url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
       url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

@font-face {
  font-family: 'AkkBd_Pro';
  src: url(asset_path('AkkBd_Pro.eot')) format('eot'),
       url(asset_path('AkkBd_Pro.otf'))  format('opentype'),
       url(asset_path('AkkBd_Pro.woff')) format('woff'),
       url(asset_path('AkkBd_Pro.ttf'))  format('truetype'),
       url(asset_path('AkkBd_Pro.svg#AkkBd_Pro')) format('svg');
}

@font-face {
  font-family: 'AkkBdIt_Pro';
  src: url(asset_path('AkkBdIt_Pro.eot')) format('eot'),
       url(asset_path('AkkBdIt_Pro.otf'))  format('opentype'),
       url(asset_path('AkkBdIt_Pro.woff')) format('woff'),
       url(asset_path('AkkBdIt_Pro.ttf'))  format('truetype'),
       url(asset_path('AkkBdIt_Pro.svg#AkkBdIt_Pro')) format('svg');
}


@font-face {
  font-family: 'AkkIt_Pro';
  src: url(asset_path('AkkIt_Pro.eot')) format('eot'),
       url(asset_path('AkkIt_Pro.woff')) format('woff'),
       url(asset_path('AkkIt_Pro.ttf'))  format('truetype'),
       url(asset_path('AkkIt_Pro.svg#AkkIt_Pro')) format('svg');
}

@font-face {
  font-family: 'AkkLg_Pro';
  src: url(asset_path('AkkLg_Pro.eot')) format('eot'),
       url(asset_path('AkkLg_Pro.woff')) format('woff'),
       url(asset_path('AkkLg_Pro.ttf'))  format('truetype'),
       url(asset_path('AkkLg_Pro.svg#AkkLg_Pro')) format('svg');
}

@font-face {
  font-family: 'AkkLgIt_Pro';
  src: url(asset_path('AkkLgIt_Pro.eot')) format('eot'),
       url(asset_path('AkkLgIt_Pro.woff')) format('woff'),
       url(asset_path('AkkLgIt_Pro.ttf'))  format('truetype'),
       url(asset_path('AkkLgIt_Pro.svg#AkkLg_Pro')) format('svg');
}

@font-face {
  font-family: 'AkkRg_Pro';
  src: url(asset_path('AkkRg_Pro.eot')) format('eot'),
       url(asset_path('AkkRg_Pro.woff')) format('woff'),
       url(asset_path('AkkRg_Pro.ttf'))  format('truetype'),
       url(asset_path('AkkRg_Pro.svg#AkkRg_Pro')) format('svg');
}



@font-face {
    font-family: 'Brandon_thin_it';
    src: url(asset_path('Brandon_thin_it.eot')) format('eot'),
         url(asset_path('Brandon_thin_it.woff')) format('woff'),
         url(asset_path('Brandon_thin_it.ttf'))  format('truetype'),
         url(asset_path('Brandon_thin_it.svg#BrandonGrotesque-Bold')) format('svg');
}

@font-face {
    font-family: 'Brandon_thin';
    src: url(asset_path('Brandon_thin.eot')) format('eot'),
         url(asset_path('Brandon_thin.woff')) format('woff'),
         url(asset_path('Brandon_thin.ttf'))  format('truetype'),
         url(asset_path('Brandon_thin.svg#BrandonGrotesque-Bold')) format('svg');
}


@font-face {
    font-family: 'brandon_light';
    src: url(asset_path('brandon_light.eot')) format('eot'),
         url(asset_path('brandon_light.woff')) format('woff'),
         url(asset_path('brandon_light.ttf'))  format('truetype'),
         url(asset_path('brandon_light.svg#brandon_light')) format('svg');
}

@font-face {
    font-family: 'brandon_light_it';
    src: url(asset_path('brandon_light_it.eot')) format('eot'),
         url(asset_path('brandon_light_it.woff')) format('woff'),
         url(asset_path('brandon_light_it.ttf'))  format('truetype'),
         url(asset_path('brandon_light_it.svg#brandon_light_it')) format('svg');
}

@font-face {
    font-family: 'brandon_reg';
    src: url(asset_path('brandon_reg.eot')) format('eot'),
         url(asset_path('brandon_reg.woff')) format('woff'),
         url(asset_path('brandon_reg.ttf'))  format('truetype'),
         url(asset_path('brandon_reg.svg#brandon_reg')) format('svg');
}

@font-face {
    font-family: 'brandon_reg_it';
    src: url(asset_path('brandon_reg_it.eot')) format('eot'),
         url(asset_path('brandon_reg_it.woff')) format('woff'),
         url(asset_path('brandon_reg_it.ttf'))  format('truetype'),
         url(asset_path('brandon_reg_it.svg#brandon_reg_it')) format('svg');
}

@font-face {
    font-family: 'brandon_med';
    src: url(asset_path('brandon_med.eot')) format('eot'),
         url(asset_path('brandon_med.woff')) format('woff'),
         url(asset_path('brandon_med.ttf'))  format('truetype'),
         url(asset_path('brandon_med.svg#brandon_med')) format('svg');
}

@font-face {
    font-family: 'brandon_med_it';
    src: url(asset_path('brandon_med_it.eot')) format('eot'),
         url(asset_path('brandon_med_it.woff')) format('woff'),
         url(asset_path('brandon_med_it.ttf'))  format('truetype'),
         url(asset_path('brandon_med_it.svg#brandon_med_it')) format('svg');
}


@font-face {
    font-family: 'brandon_bld_it';
    src: url(asset_path('brandon_bld_it.eot')) format('eot'),
         url(asset_path('brandon_bld_it.woff')) format('woff'),
         url(asset_path('brandon_bld_it.ttf'))  format('truetype'),
         url(asset_path('brandon_bld_it.svg#brandon_bld_it')) format('svg');
}

@font-face {
    font-family: 'brandon_bold';
    src: url(asset_path('brandon_bold.eot')) format('eot'),
         url(asset_path('brandon_bold.woff')) format('woff'),
         url(asset_path('brandon_bold.ttf'))  format('truetype'),
         url(asset_path('brandon_bold.svg#brandon_bold')) format('svg');
}

