.footer {
  background-color: #fff;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    font-size: 10px;
    margin: 0;
  }

  .footer-basic-centered {
    text-align: center;
    margin-top: 30px;
  }

  .footer-copyright {
    font-size: 10px;
    margin-top: 45px;
    color: #B4B3B4;
  }

  .footer-made-nyc {
    font-size: 11px;
    margin: 0;
    color: #F58D86;
    margin-top: 15px;
  }

  .footer-links {
    margin: 0;
    font-size: 12px;
    color: #B4B3B4;
  }

  .footer-links a {
    display:inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
  }
}
