.flat-form-control {
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: $base-border;
  font-size: 1.25em;
  margin-bottom: 1em;
  padding: 0.5em 0.75em;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $accent-color;
    outline: none;
  }

  &:disabled {
    background-color: #eee;
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

select.flat-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.flat-select:after {
  top: 50%;
  left: 90%;
  position: absolute;
  pointer-events: none;
  margin-top: -2px;
  z-index: 100;
  content: "\e252";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $accent-color;
}

.form-help-text {
  margin-top: -1em;
}
