.header {
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
    font-family: AkkRg_Pro;
  }

  .nav > li > a:hover {
    color: #000;
    background-color: #fff;
  }

  .nav > li > a {
    padding: 19px 15px;
  }

  .settings-icon {
    margin: 19px 15px;
    height: 20px;
    width: 20px;
    color: #F58C85;
  }

  .navbar-profile {
    width: 25px;
    height: 25px;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #ffffff;
    padding: 10px 15px;
  }
}
