ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: 15px;
    padding-left: 20px;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: 15px;
    padding-left: 20px;
  }
}

.list-users {
  padding-top: 10px;

  h3 {
  padding-top: 50px;
  text-align: center;
  }

  h4 {
  color: $light-color;
  padding-left: 35px;
  padding-top: 10px;
  }

  .icons {
    margin-left: 20px;
  }

  hr {
    margin-bottom: 20px;
  }
}



