.platform-checkbox-button {
  + .platform-checkbox-button {
    margin-top: 10px; // Overrides bootstrap forms checkbox styling
  }

  label {
    transition: all 0.1s ease-in;
    border: 1px solid rgba($light-color, 0.50);
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 1;
    padding: 1em;
    text-align: center;

    &:hover {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label {
      background-color: $accent-color;
      border-color: $accent-color;
      color: #fff;
    }
  }