.profile {
  .social-profiles {
    width: 670px;
    margin-top: 30px;

    h3 {
      font-weight: bold;
    }

    .social-profile {
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #000000;
      text-align: left;

      h2 {
        display: inline;
        vertical-align: middle;
      }

      img {
        margin-right: 5px;
      }

      .btn-default {
        margin: 0;
      }

      .count {
        margin-top: 10px;
      }
    }
  }

  .basic-info {

  }

  .clients {
    margin: 20px 0;

    .new-client {
      margin: 30px 0;
    }

    .client-input {
      margin: 5px 0;
    }

    .remove-client {
      padding: 70px 20px;
    }
  }

  .press {
    margin: 20px 0;

    .new-press {
      margin: 30px 0;
    }

    .client-press {
      margin: 5px 0;
    }

    .remove-press {
      padding: 70px 20px;
    }
  }
}

