.social-profile {
  h2 {
    margin-bottom: 0;
    margin-top: 30px;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 10px;
  }

  dt {
    color: $accent-color;
    font-size: 24px;
    font-family: 'brandon_light_it';
  }

  .total-reach {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .total-reach-count {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 10px;

    @media (min-width: $md-breakpoint) {
      font-size: 80px;
    }
  }

  .social-profile {
    align-items: center;
    border: 1px solid rgba($light-color, 0.50);
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;

    svg {
      @include size(30px, 30px);
      margin-right: 20px;

      @media (min-width: $md-breakpoint) {
      @include size(65px, 65px);
      margin-right: 20px;
      }
    }

    path {
      fill: $accent-color;
    }

    .btn-default {
      margin: 0;
    }
  }

  .social-network {
    flex: 1;
    font-size: 24px;
    font-weight: 300;
    margin: 0;

    @media (min-width: $md-breakpoint) {
      font-size: 30px;
    }
  }

  .social-follower-count {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.social-profile__connected {
  @extend .glyphicon-ok;
  @extend .green;
  font-size: 30px;
  width: 30px;
  height: 30px;

}
.social-profile__connected:hover {
  @extend .glyphicon-remove;
  color: red;
}
