.user {
  h6 {
    border-bottom: $base-border;
    color: $light-color;
    font-size: 22px;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
  }

  p {
    font-family: "AkkLg_Pro";
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .pink {
    color: $accent-color;
  }

  .glyphicon {
    top: 3px;
  }

  .btn-interests {
    cursor: auto;
    margin: 10px 0 0 0;
  }

  img {
    max-width: 100%;
  }
}

.user-total-follower-count {
  margin-bottom: 0;

  @media (min-width: $sm-breakpoint) {
    text-align: center;
  }

  dd {
    color: $medium-color;
    font-family: "brandon_med";
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
  }

  dt {
    font-family: "brandon_med";
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.user-intro-row {
  margin-bottom: 3em;
}

.user-meta {
  li {
    color: $medium-color;
    font-family: "AkkLg_Pro";
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.user-social-follower-count {
  display: inline-block;
  margin-top: 10px;
  text-align: center;

  img {
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }
}

.user-row {
  margin-bottom: 3em;
}

.user-total-follower-row {
  border-bottom: $base-border;
  border-top: $base-border;
  padding-bottom: 20px;
  padding-top: 20px;
}

.user-subsection {
  margin-bottom: 3em;

  @media (min-width: $sm-breakpoint) {
    margin-bottom: 0;
  }
}

.user-social-icon {
  @include size(60px, 60px);
}

.user-post-icons {
  margin: 10px 10px 40px 0;
}

.user-post-icon {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-top: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
