/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require video-js
 *= require token-input
 *= require_self
 */

// Vendor
@import "bourbon";
@import "bootstrap-and-customization";

// Base
@import "variables";
@import "font";
@import "forms";

// Patterns and Components
@import "checkbox-buttons";

// Views
@import "auth";
@import "social-profiles";
@import "basic-info";
@import "brands-creators-marketing-page";
@import "footer";
@import "header";
@import "home";
@import "interests";
@import "profile";
@import "search-results";
@import "user";

.clear {
  clear: both;
}

.hidden { display: none; }

body {
  font-family: "AkkLg_Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $medium-color;
  background-color: #fff;
}

p {
  font-family: "AkkLg_Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $medium-color;
}

h1 {
  font-family: 'brandon_med';
  font-size: 58px;
  letter-spacing: 3px;
  color: $light-color;
}

h2 {
  font-family: 'AkkBd_Pro';
  font-size: 40px;
  text-transform: none;
  letter-spacing: 2px;
  color: $medium-color;
}

h3 {
  font-family: 'AkkLg_Pro';
  font-size: 40px;
  letter-spacing: 1px;
  color: $medium-color;
}

h4 {
  font-family: 'AkkLg_Pro';
  font-size: 30px;
  letter-spacing: 1px;
  color: $medium-color;
}

h5 {
  font-family: 'AkkLg_Pro';
  font-size: 24px;
  letter-spacing: 1px;
  color: $medium-color;
}

a,
a:hover,
a:focus {
  color: $medium-color;
  text-decoration: none;
}

.dropdown-menu {
  left: -120px;
  text-align: right;
}

.jumbotron {
  background-color: inherit;
  padding-bottom: 0;
  margin-bottom: 0;
}

.btn:hover,
  .btn:focus,
  .btn.focus {
    color: $medium-color;
  }

.btn-default {
  color: #fff;
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 4;
  margin-top: 20px;
  margin-bottom: 20px;
}
  .btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: $accent-color;
    border-color: $accent-color;
    opacity: 1;
  }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
