.jobs {

  p {
    font-size: 13px;
  }

  strong {
    font-family: AkkBd_Pro;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  h3{
    font-size: 30px;
    text-align: center;
  }

  h4 {
    font-size: 12px;
  }

  h5{
    text-align: center;
    font-size: 18px;
  }
}