.basic-info__photo__label
  - if f.object.picture.exists?
    = image_tag f.object.picture.url(:medium), alt: 'Click to upload'
    .basic-info__photo__reupload
      %span.glyphicon.glyphicon-camera
      upload a picture
  - else
    .basic-info__photo__upload
      %span.glyphicon.glyphicon-camera
      upload a picture

