<%= render 'layouts/user_navigation' %>
<div class="container">
  <h1>Interests</h1>
  <h2>What are your passions?</h2>
  <p>Pick as many as you like.</p>

  <%= simple_form_for current_user, url: profile_interests_path do |f| %>
    <%= f.association :interests, as: :check_boxes %>
    <%= f.submit class: "btn btn-default"  %>
  <% end %>
</div>

<!--
    <div class="col-md-2">
        <p><button type="button" class="btn btn-default">Fashion</button>
        <p><button type="button" class="btn btn-default">Art/Design</button>
        <p><button type="button" class="btn btn-default">Comedy</button>
        <p><button type="button" class="btn btn-default">Family Friendly</button>
    </div>
      <div class="col-md-2">
        <p><button type="button" class="btn btn-default">Animals</button>
        <p><button type="button" class="btn btn-default">Gaming</button>
        <p><button type="button" class="btn btn-default">Sports</button>
        <p><button type="button" class="btn btn-default">Music</button>
    </div>
      <div class="col-md-2">
        <p><button type="button" class="btn btn-default">DIY</button>
        <p><button type="button" class="btn btn-default">Celebrity</button>
        <p><button type="button" class="btn btn-default">Photography</button>
        <p><button type="button" class="btn btn-default">Travel</button>
    </div>
      <div class="col-md-2">
        <p><button type="button" class="btn btn-default">News</button></p>
        <p><button type="button" class="btn btn-default">Technology</button></p>
        <p><button type="button" class="btn btn-default">Food</button></p>
        <p><button type="button" class="btn btn-default">Curation</button></p>
      </div>
  </div>
-->
