<%= render 'layouts/user_navigation' %>
<div class="container">
  <h1>Interests</h1>
  <h2>What are your passions?</h2>
  <p>Pick as many as you like.</p>

  <%= simple_form_for current_user, url: profile_interests_path do |f| %>
    <%= f.association :interests, as: :check_boxes %>
    <%= f.submit class: "btn btn-default"  %>
  <% end %>
</div>