<div class="container text-center footer "
  <hr>

  <h5>About</h5>
  <h5>Team</h5>
  <h5>Contact</h5>
  <h5>FAQ</h5>
  <h5>Jobs</h5>
  <h5>Terms of Service</h5>
  <h5>Privacy</h5>
  <p>Made in NYC</p>
  <p> <span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2015 All Rights Reserved  Visual Country LLC</p>
</div>

