<div class="container text-center footer "
  <hr>
  <p>Contact us: info@visualcountry.com</p> 
  <p>New York City</p>
  <p> <span class="glyphicon glyphicon-copyright-mark"></span> Visual Country LLC</p>
</div>

